body{
    overflow: hidden;
    margin: 0;
    background-color: black;
}
#canvas{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#torture_room{
    left: 30%;
    width: 40%;
    background-image: url("roomrobado2.jpg");
}
#furry{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 150px;
    height: 400px;
    bottom: -10%;
    left: 20%;
}
#furry.uno{
    background-image: url("furry.png");
}
#furry.dos{
    background-image: url("furry2.png");
}
#furry.tres{
    background-image: url("furry3.png");
}
#cuchillo{
    background-image: url("cuchillo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 100px;
    bottom:30%;
    left: 30%;
    transform: rotate(180deg);
}
#cuchillo.lejos{
    transform: translateY(-200%) rotate(180deg);
    transition-duration: 0.2s;
}
#cuchillo.cerca{
    transform: translateY(0%) rotate(180deg);
    transition-duration: 0s;
}
.btn#add_cuchilla{
    width: 200px;
    height: 75px;
    background: white;
    color: black;
    z-index: 1;
}
.parte{
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#mejoras{
    left: 0%;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
#estadisticas{
    left: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.estadistica{
    color: white;
    width: 100px;
    height: 1rem;
}
#circulo_cuchilla{
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    left: 35%;
    bottom: 0%;
    animation: girar 3s linear infinite;
    z-index: 1;
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.cuchilla{
    position: absolute;
    height: 200px;
    width: 50px;
    left: 175px;
    background-image: url("cuchilla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 100%;
}