body{
    overflow: hidden;
    margin: 0;
    background-color: black;
}
#canvas{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#torture_room{
    left: 30%;
    width: 40%;
    background-image: url("roomrobado2.jpg");
}
#furry{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 150px;
    height: 400px;
    bottom: -10%;
    left: 20%;
}
#furry.uno{
    background-image: url("furry.png");
}
#furry.dos{
    background-image: url("furry2.png");
}
#furry.tres{
    background-image: url("furry3.png");
}
#furry.cuatro{
    background-image: url("furry4.png");
}
#furry.cinco{
    background-image: url("furryNoPito.png");
}
#cuchillo{
    background-image: url("cuchillo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 100px;
    bottom:30%;
    left: 30%;
    transform: rotate(180deg);
}
#cuchillo.lejos{
    transform: translateY(-200%) rotate(180deg);
    transition-duration: 0.2s;
}
#cuchillo.cerca{
    transform: translateY(0%) rotate(180deg);
    transition-duration: 0s;
}
.btn{
    width: 200px;
    height: 75px;
    background: white;
    color: black;
    z-index: 1;
    margin: 0 auto;
    display: block;
}
.parte{
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#mejoras{
    left: 0%;
    width: 30%;
    position: relative;
    padding: 60px 0px;
}
#estadisticas{
    left: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.estadistica{
    color: white;
    width: 100px;
    height: 1rem;
}
#circulo_cuchilla{
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    left: 35%;
    bottom: 0%;
    animation: girar 3s linear infinite;
    z-index: 1;
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.cuchilla{
    position: absolute;
    height: 200px;
    width: 50px;
    left: 175px;
    background-image: url("cuchilla.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 100%;
}
#ajustes{
    filter: invert(1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 150px;
    right: 50px;
    background-image: url("settings_FILL1_wght400_GRAD0_opsz48\ \(1\).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}
#ajustes:hover{
    animation: girar 3s linear infinite;
}
#pantalla_ajustes{
    left: 70%;
    width: 30%;
    padding: 60px 0px;
    background: gray;
    z-index: 2;
    display: none;
}
#pantalla_ajustes.active{
    display: block;
}
.slot{
    border: solid 1px black;
    height: 3rem;
    margin: 10px;
}
.slot.active{
    background-color: rgba(255, 255, 0, 0.515);
}
.nombre{
    display: inline-block;
    margin: 10px;
}
.contenido{
    display: inline-block;
    margin: auto;
}
.opcion{
    margin: auto;
    border: solid 1px black;
    display: inline-block;
    margin: 10px;
    padding: 3px 5px;
}
.opcion:hover{
    background-color: rgba(255, 0, 0, 0.471);
}
#bateria{
    width: 150px;
    height: 150px;
    background-image: url("bateria.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}
#descarga{
    display: none;
    background-color: black;
    box-shadow: 0;
    width: 400px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 100px;
    animation: normal linear corriente 2s infinite;
}
@keyframes corriente{
    0%{
        background-color: black;
        box-shadow: none;
    }
    50%{
        background-color: black;
        box-shadow: none;
    }
    50.1%{
        background-color: blue;
        box-shadow: 0px 0px 10px 10px rgba(0, 255, 255, 0.46);
    }
    99.9%{
        background-color: blue;
        box-shadow: 0px 0px 10px 10px rgba(0, 255, 255, 0.46);
    }
}
#pene{
    display: none;
    position: fixed;
    width: 80dvh;
    height: 80dvh;
    background-image: url("bateria.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

}
#pene.cortado{
    display: block;
}
