body{
    overflow: hidden;
    margin: 0;
    background-color: black;
}
#canvas{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#torture_room{
    left: 30%;
    width: 40%;
    background-image: url("fondoRobadoUwu.jpg");
}
.btn#add_cuchilla{
    width: 200px;
    height: 75px;
    background: white;
    color: black;
    z-index: 1;
}
.parte{
    position: absolute;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#mejoras{
    left: 0%;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
#estadisticas{
    left: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.estadistica{
    color: white;
    width: 100px;
    height: 1rem;
}
#circulo_cuchilla{

    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    left: 55%;
    bottom: 20%;
    animation: girar 3s linear infinite;
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.cuchilla{
    position: absolute;
    height: 100px;
    width: 25px;
    left: 87.5px;
    background-color: yellow;
    transform-origin: 50% 100%;
}
.punta{
    width: 0px;
    height: 0px;
    position: absolute;
    left: -37.5px;
    top: -100px;
    border-bottom: 100px solid #f0ad4e;
     border-left: 50px solid transparent;
     border-right: 50px solid transparent; 
}